# BLOCK 1 : Data preparation

## 1. Requirements

In [ ]:
!pip3 install -r requirements.txt

## 2. Libraries

In [7]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

## 3. Open PARQUET File

In [3]:
# Load file .parquet to Pandas DF
df = pd.read_parquet("C:\WORKSPACES\DATA\CLEAN\iNaturalist\iNat_Observations_World_EnrichedFRA.parquet")

OR

In [3]:
# Load file .parquet to Arrow table
table = pq.read_table("C:\WORKSPACES\DATA\CLEAN\iNaturalist\iNat_Observations_World_EnrichedFRA.parquet")

# Convert Arrow table to Pandas DF
df = table.to_pandas()

## 4. Explore

In [4]:
print(df.info())
display(df.head())
display(df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70699074 entries, 0 to 70699073
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   observation_id        int32
 1   latitude              float64
 2   longitude             float64
 3   coordinate_precision  float64
 4   state_province        object
 5   country_code          object
 6   country_name          object
 7   taxon_id              int32
 8   scientific_name       object
 9   common_name           object
 10  kingdom               object
 11  phylum                object
 12  class                 object
 13  order                 object
 14  family                object
 15  genus                 object
 16  event_date            object
dtypes: float64(3), int32(2), object(12)
memory usage: 8.4+ GB
None

,observation_id,latitude,longitude,coordinate_precision,state_province,country_code,country_name,taxon_id,scientific_name,common_name,kingdom,phylum,class,order,family,genus,event_date
0,113732204,55.007894,73.326651,172.0,Omsk,RUS,"Russie, Fédération de",47602,Taraxacum officinale,Pissenlit Officinal,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Taraxacum,2022-04-30
1,113732220,24.614161,121.731000,NaN,Taiwan,TWN,"Taïwan, Chine",460193,Potentilla hebiichigo,None,Plantae,Tracheophyta,Magnoliopsida,Rosales,Rosaceae,Potentilla,2022-04-30
2,113732225,-37.796523,144.914499,31.0,Victoria,AUS,Australie,8042,Corvus mellori,Petit Corbeau,Animalia,Chordata,Aves,Passeriformes,Corvidae,Corvus,2022-04-29
3,113732226,27.057540,88.254764,NaN,West Bengal,IND,Inde,544430,Castanopsis hystrix,None,Plantae,Tracheophyta,Magnoliopsida,Fagales,Fagaceae,Castanopsis,2010-02-21
4,113732232,50.247707,41.984521,5.0,Volgograd,RUS,"Russie, Fédération de",1024536,Rabelera holostea,"Langue D'oiseau, Stellaire Holostée",Plantae,Tracheophyta,Magnoliopsida,Caryophyllales,Caryophyllaceae,Rabelera,2022-04-30

,observation_id,latitude,longitude,coordinate_precision,state_province,country_code,country_name,taxon_id,scientific_name,common_name,kingdom,phylum,class,order,family,genus,event_date
70699069,22746427,8.637565,98.245941,NaN,Phangnga,THA,Thaïlande,123362,Coenobita rugosus,Cénobite Stridulant,Animalia,Arthropoda,Malacostraca,Decapoda,Coenobitidae,Coenobita,2019-04-20
70699070,22746428,53.185170,83.714812,4.0,Altay,RUS,"Russie, Fédération de",987335,Odontarrhena obovata,None,Plantae,Tracheophyta,Magnoliopsida,Brassicales,Brassicaceae,Odontarrhena,2019-04-20
70699071,22746429,-36.680057,174.748469,216.0,Auckland,NZL,Nouvelle-Zélande,333759,Larus dominicanus dominicanus,None,Animalia,Chordata,Aves,Charadriiformes,Laridae,Larus,2019-04-18
70699072,22746430,35.336925,-84.126714,288.0,Tennessee,USA,Etats-Unis,58662,Semotilus atromaculatus,Mulet À Cornes,Animalia,Chordata,Actinopterygii,Cypriniformes,Leuciscidae,Semotilus,2019-04-19
70699073,22746438,-0.585598,130.536107,NaN,Papua Barat,IDN,Indonésie,97672,Choerodon zosterophorus,None,Animalia,Chordata,Actinopterygii,Perciformes,Labridae,Choerodon,2019-01-10

In [9]:
print(df.count())

observation_id          70699074
latitude                70541610
longitude               70541610
coordinate_precision    56972376
state_province          70347466
country_code            70360857
country_name            70360857
taxon_id                70699074
scientific_name         70699074
common_name             48460032
kingdom                 70699073
phylum                  70698795
class                   70681573
order                   70642328
family                  70673553
genus                   70672552
event_date              70699074
dtype: int64

In [10]:
print(df.isna().sum())

observation_id                 0
latitude                  157464
longitude                 157464
coordinate_precision    13726698
state_province            351608
country_code              338217
country_name              338217
taxon_id                       0
scientific_name                0
common_name             22239042
kingdom                        1
phylum                       279
class                      17501
order                      56746
family                     25521
genus                      26522
event_date                     0
dtype: int64

## 5. Date

In [4]:
# Make sure the event_date column is of datetime type
df['event_date'] = pd.to_datetime(df['event_date'])

# Extract the year and month into new columns
df['year'] = df['event_date'].dt.year
df['month'] = df['event_date'].dt.month

# Remove the "event_date" column
df = df.drop(columns = ["event_date"])

# Display the DataFrame with the new columns
display(df)

,observation_id,latitude,longitude,coordinate_precision,state_province,country_code,country_name,taxon_id,scientific_name,common_name,kingdom,phylum,class,order,family,genus,year,month
0,113732204,55.007894,73.326651,172.0,Omsk,RUS,"Russie, Fédération de",47602,Taraxacum officinale,Pissenlit Officinal,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Taraxacum,2022,4
1,113732220,24.614161,121.731000,NaN,Taiwan,TWN,"Taïwan, Chine",460193,Potentilla hebiichigo,None,Plantae,Tracheophyta,Magnoliopsida,Rosales,Rosaceae,Potentilla,2022,4
2,113732225,-37.796523,144.914499,31.0,Victoria,AUS,Australie,8042,Corvus mellori,Petit Corbeau,Animalia,Chordata,Aves,Passeriformes,Corvidae,Corvus,2022,4
3,113732226,27.057540,88.254764,NaN,West Bengal,IND,Inde,544430,Castanopsis hystrix,None,Plantae,Tracheophyta,Magnoliopsida,Fagales,Fagaceae,Castanopsis,2010,2
4,113732232,50.247707,41.984521,5.0,Volgograd,RUS,"Russie, Fédération de",1024536,Rabelera holostea,"Langue D'oiseau, Stellaire Holostée",Plantae,Tracheophyta,Magnoliopsida,Caryophyllales,Caryophyllaceae,Rabelera,2022,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70699069,22746427,8.637565,98.245941,NaN,Phangnga,THA,Thaïlande,123362,Coenobita rugosus,Cénobite Stridulant,Animalia,Arthropoda,Malacostraca,Decapoda,Coenobitidae,Coenobita,2019,4
70699070,22746428,53.185170,83.714812,4.0,Altay,RUS,"Russie, Fédération de",987335,Odontarrhena obovata,None,Plantae,Tracheophyta,Magnoliopsida,Brassicales,Brassicaceae,Odontarrhena,2019,4
70699071,22746429,-36.680057,174.748469,216.0,Auckland,NZL,Nouvelle-Zélande,333759,Larus dominicanus dominicanus,None,Animalia,Chordata,Aves,Charadriiformes,Laridae,Larus,2019,4
70699072,22746430,35.336925,-84.126714,288.0,Tennessee,USA,Etats-Unis,58662,Semotilus atromaculatus,Mulet À Cornes,Animalia,Chordata,Actinopterygii,Cypriniformes,Leuciscidae,Semotilus,2019,4
70699073,22746438,-0.585598,130.536107,NaN,Papua Barat,IDN,Indonésie,97672,Choerodon zosterophorus,None,Animalia,Chordata,Actinopterygii,Perciformes,Labridae,Choerodon,2019,1

## 6. Save to file

In [ ]:
# Specify the file name and path for the Parquet file
output_filename = "C:\WORKSPACES\DATA\PROCESS\iNat_Observations_World_EnrichedFRA.parquet"

In [5]:
# Save the DataFrame to a Parquet file using Pandas
df.to_parquet(output_filename)

OR

In [8]:
# Save the DataFrame to a Parquet file using Arrow
table = pa.Table.from_pandas(df)
pq.write_table(table, output_filename)